html {
  margin: 30px;
  max-width: 60ch;
  background-color: #2D353B;
  color: #D3C6AA;
  font-size: 18px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

b {
  font-weight: 800;
  /* font-style: bold; */
}

a, a:hover, a:focus, a:active {
  text-decoration: underline;
  color: inherit;
}

.hover-underline {
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}

code {
  background-color: #3D484D;
}

.codeblock {
  background-color: #3D484D;
  padding-left: 20px;
  padding-right: 20px;
  /* color: #2D353B; */
}

pre {
  white-space: pre-wrap;
}
